.app {
  width: 50%;
  min-height: 100vh;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(121, 55, 55);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.header nav {
  width: 100%;
}

.header nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: none;
}

.header nav li {
  margin-right: 10px;
}

.header nav li:last-child {
  margin-right: 0;
}

.header nav a {
  color: #fff;
  text-decoration: none;
}

.header nav a:hover {
  text-decoration: underline;
}

.formDiv {
  width: 100%;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  height: 40px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.formInput {
  width: 80%;
  height: 100%;
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  outline: none;
}

.formBtn {
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  opacity: 0.6;
}
.formBtn:hover {
  opacity: 1;
}
.addNewTodoBtn {
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(121, 55, 55);
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}
.addBtn {
  width: 30%;
  height: 100%;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(163, 84, 84);
}
.delBtn {
  width: 100%;
  height: 100%;
  color: red;
  cursor: pointer;
}
.editBtn {
  width: 100%;
  height: 100%;
  color: green;
  cursor: pointer;
}
.todoCArd {
  width: 100%;
  min-height: 50px;
  border: 1px solid rgba(207, 207, 207, 1);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 22px -5px rgba(207, 207, 207, 1);
  position: relative;
}
.todoCArd h4 {
  font-weight: 300;
}
.TodoCardButtonsDiv {
  /* border: 1px solid black; */
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 5%; */
  position: absolute;
  right: 10px;
  top: 10px;
}
.loadingBtn {
  background-color: brown;
}
.todoCArd p {
  font-size: 20px;
}
.spinner {
  display: flex;
  justify-content: center;
}
.userInfo {
  width: 30%;
}
.userInfo li {
  list-style: none;
  font-size: 15px;
  overflow-wrap: anywhere;
}
ul {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
.todoTitle {
  overflow-wrap: anywhere;
  width: 60%;
}
/*  */
